:root {
    --background-color: #181818;
}

body {
    background-color: var(--background-color);
    font-family: "Encode Sans";
}

footer {
    background-color: var(--background-color);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.navbar {
    background-color: var(--background-color);
    box-shadow: none;
}

.bordered {
    border-top: 1px solid #b3b3b3;
}

/* markdown section styles */
#markdown-view {
    font-family: "Source Code Pro";
}

#markdown-view h3 {
    line-height: 2;
}

#markdown-view p {
    line-height: 1.9;
}

#markdown-view ul {
    line-height: 1.8;
}
